@model rsH60Store.Models.Product

@{
ViewData["Title"] = "Delete";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-4xl">Delete @Model.Description from products?</h1>

<div class="flex justify-center mt-8">
    <div class="card bg-base-100 max-w-sm mx-auto shadow-xl">
        <figure class="px-10 pt-10">
            <img
                src="@(!string.IsNullOrEmpty(@Model.ImageUrl) ? @Model.ImageUrl : "/images/default.png")"
                alt="@Model.Description"
                class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
            <h2 class="card-title">@Model.Description</h2>
            <div class="badge badge-ghost">$@Model.SellPrice</div>
            <p class="font-bold">@Model.Manufacturer</p>
            <p>@Model.Stock in-stock</p>
        </div>
        <div class="flex flex-row py-2 gap-2">
            <form asp-action="Delete">
                <input type="hidden" asp-for="ProductId" />
                <div class="py-2">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <a class="btn btn-neutral ml-4" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
