@model HVK.Models.Reservation

@{
    ViewData["Title"] = "Details";
    Hvkuser user = (Hvkuser)ViewData["HVKUserObj"];
}
@if (user.UserType == "Employee")
{
    @section nav {
    <ul>
        <li>@Html.ActionLink("Dashboard", "Staff", "HomePage", null, new { title = "Go Home" })</li>
            <li>@Html.ActionLink("Reservations", "IndexEmp", "UnderConstruction", null, new { title = "Go to Reservations" })</li>
            <li>@Html.ActionLink("Runs", "Index", "Runs", null, new { title = "Go to Runs" })</li>
            <li>@Html.ActionLink("Customer", "Index", "Customer", null, new { title = "Go to Customers" })</li>
        </ul>
    }
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <div>
        @if (user.UserType == "Employee")
        {
            <a asp-controller="HomePage" asp-action="Staff">Back to List</a>
        }
        else
        {
            <a asp-controller="HomePage" asp-action="Index">Back to List</a>
        }
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservationId">Edit</a>
</div>