@model IEnumerable<rsH60Store.Models.ProductCategory>

@{
ViewData["Title"] = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
int count = 1;
}

<div class="flex flex-row gap-3">
    <h2 class="text-4xl mb-4 font-bold">Categories</h2>
    <a class="btn btn-success" asp-action="Create">Add</a>
</div>


<div class="overflow-x-auto">
    <table class="table">
        <thead>
        <tr>
            <th>Count</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@(count++)</td>
            <td>
                <!-- Collapse Component -->
                <div class="collapse bg-base-200">
                    <input type="checkbox" />
                    <div class="collapse-title text-xl font-medium">
                        @item.ProdCat
                    </div>
                    <div class="collapse-content">
                        <!-- Render products for the category -->
                        @if (item.Products != null && item.Products.Any())
                        {
                        <ul>
                            @foreach (var product in item.Products)
                            {
                            <li>@product.Description</li>
                            }
                        </ul>
                        }
                        else
                        {
                        <p>No products available.</p>
                        }
                    </div>
                </div>
            </td>
            <td>
                    <a class="btn btn-primary ml-4" asp-route-id="@item.CategoryId" asp-action="Edit">Update</a>
                    <a class="btn btn-neutral ml-4" asp-route-id="@item.CategoryId" asp-action="Delete">Delete</a>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
